<div class="d-flex flex-column pl-5 ml-5 pt-5 mt-5">
    <div class="row">
        <div class="col">
            <h1>2021</h1>
            <h2>Aug - present</h2>
            <p>Volunteering at CppCon - October 24-29</p> 
            <p>Accepted the offer from Intel</p>
            <p>Joined the Battlebot team: Arashi</p>
            <h2>March - July</h2>
            <p>Got the letter of acceptance from the Colorado School of Mines</p>
            <h2>Jan - Feb</h2>
            <p>Gave a presentation at Denver Droids MeetUp on ARCore</p>
            <p>Participated in New Year New Hack</p>
            <h1>2020</h1>
            <h2>Mar - Dec Cancelled</h2>
            <h2>Jan - Feb</h2>
            <p>Participated in ETHDenver</p>
            <p>Attended in Angular Colorado</p>
            <h1>2019</h1>
            <h2>Nov - Dec</h2>
            <p>Attended SC 19</p>
            <p>Attended Intel HPC Conference</p>
            <p>I met Uncle Bob</p>
            <h2>Oct</h2>
            <p>Participated in CSU XR Hackathon</p>
            <h2>June - Sep</h2>
            <p>Participated in Tech to Protect</p>
            <p>Participated in Wyohackathon</p>
            <p>Attended CppCon</p>
            <h2>Mar - May</h2>
            <p>Accepted the offer from Comcast Business</p>
            <p>Earned my B.S. from MSU Denver</p>
            <h2>Jan - Feb</h2>
            <p>Participated in HackCU5</p>
            <p>Participated in ETHDenver</p>
            <p>Participated in T9Hack</p>
        </div>
        <div *ngIf="this.showIntel" [@fadeIn] class="col intel-sticky mr-5">
        </div>
        <div *ngIf="this.showETH" [@fadeIn] class="col eth-sticky mr-5">
        </div>
        <div *ngIf="this.showHPC" [@fadeIn] class="col hpc-sticky mr-5">
        </div>
    </div>

</div>