.intel-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 20%;
    height: 335px;
    background-image: url('../../images/WelcomeToIntel.png');
    background-repeat: no-repeat;
}

.eth-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 20%;
    height: 335px;
    background-image: url('../../images/ETHDenver2020.png');
    background-repeat: no-repeat;
}

.hpc-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 20%;
    height: 335px;
    background-image: url('../../images/IntelHPCConference.jpg');
    background-repeat: no-repeat;
}